<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Form Ubah Keluarga</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
    </head>
    <body>
    	<!--Import jQuery before materialize.js-->
    	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="/js/materialize.min.js"></script>
    	<script type="text/javascript" src="/js/script.js"></script>
    	
    	<!-- Navigation Bar -->
    	<nav class="light-blue lighten-1" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Siduk DKI</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#cariData">Mencari Data</a></li>
					<li><a href="/#ubahData">Mengubah Data</a></li>
					<li><a href="/#tambahData">Tambahkan Data</a></li>
				</ul>
				
				<ul id="nav-mobile" class="side-nav">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#cariData">Cari Data</a></li>
					<li><a href="/#ubahData">Ubah Data</a></li>
					<li><a href="/#tambahData">Tambahkan Data</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
		<!-- End of Navigation Bar -->
		
		<!-- Form for Add Penduduk -->
		<br/><br/>
		<section>
		<div class="container">
			<form action="/penduduk/cari" method="get" th:object="${penduduk}">
				<input th:if="${id_kota != null}" id="id_kota" name="id_kota" th:value="${id_kota}" type="hidden"></input> 
				<input th:if="${id_kecamatan != null}" id="id_kecamatan" name="id_kecamatan" th:value="${id_kecamatan}" type="hidden"></input>
				<input th:if="${id_kelurahan != null}" id="id_kelurahan" name="id_kelurahan" th:value="${id_kelurahan}" type="hidden"></input>
				<div class="form-group">
					<label for="kota">Kota/Kabupaten</label> 
					<select class="form-control" name="id_kota" id="id_kota" th:disabled="${id_kota != null}">
						<option value="">Pilih Kota</option>
						<option th:each="ListKota : ${listKota}"
								th:value="${ListKota.id}" th:text="${ListKota.nama_kota}"
								th:selected="${id_kota == ListKota.id}"></option>
					</select>
				</div>
				<div class="form-group" th:if="${id_kota != null}">
					<label for="kecamatan">Kecamatan</label> 
					<select class="form-control" name="id_kecamatan" id="id_kecamatan" th:disabled="${id_kecamatan != null}">
						<option value="">Pilih Kecamatan</option>
						<option th:each="ListKecamatan : ${listKecamatan}"
								th:value="${ListKecamatan.id}"
								th:text="${ListKecamatan.nama_kecamatan}"
								th:selected="${id_kecamatan == ListKecamatan.id}"></option>
					</select>
				</div>
				<div class="form-group" th:if="${id_kecamatan != null}">
					<label for="kelurahan">Kelurahan</label> <select class="form-control" name="id_kelurahan" id="id_kelurahan" th:disabled="${id_kelurahan != null}">
						<option value="">Pilih Kelurahan</option>
						<option th:each="ListKelurahan : ${listKelurahan}"
								th:value="${ListKelurahan.id}"
								th:text="${ListKelurahan.nama_kelurahan}"
								th:selected="${id_kelurahan == ListKelurahan.id}"></option>
					</select>
				</div>
				<div class="center">
					<input type="submit" value="Lihat" class="btn-large waves-effect waves-light orange"></input>
				</div>
			</form>
		</div>
		</section><br/><br/><br/>
		<!-- Form for Add Penduduk -->
		
		<!-- Footer -->	
		<footer class="page-footer orange">
			<div class="container">
				<div class="row center">
					<h5 class="white-text">Copyright</h5>
					<p class="grey-text text-lighten-4">&copy; Siduk_dki</p>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
			  	Made for <a class="orange-text text-lighten-3">APAP</a>
			  	</div>
			</div>
		</footer>		
    </body>
</html>
